// Default Global Setting
html, body, #app {
  height: 100%;
}

body {
  font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}

.el-input.is-disabled .el-input__inner {
  color: #999 !important;
}
