/*
 * Override ElementUI Default Components Styles
 */

// icon
// .el-icon {
//   font-size: 14px;
// }

/* input 组件 */
// 设置属性 disabled 时
.el-input.is-disabled .el-input__inner {
  color: #999;
}

/* button 组件 */
// mini button
.el-button--mini {
  padding: 7px 7px;
}

/* card 组件 */
// 头部标题
.el-card__header {
  color: #333;
  font-size: 14px;
  padding: 12px 20px;
}

/* pagination 组件 */
.el-pagination {
  margin-top: 20px;
  text-align: right;
}

/* menu 组件 */
.el-menu {
  border-right: none;
}

/* datapicker 组件 */
.el-date-editor .el-range-separator {
  min-width: 18px;
}

/* tag 组件 */
// .el-tag {
//   height: 39px;
//   line-height: 39px;
//   font-size: 14px;
//   border-radius: 0;
//   border: none;
//   border-right: 1px solid #e5e5e5;
//   cursor: pointer;
// }
